@charset "UTF-8";
/* em HTML é id    = em CSS é #
   em HTML é class = em CSS é .
   */

body{
  background-color: darkseagreen;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: rgb(125, 224, 125);
}

h1#principal{
  text-align: center;
  color: blue;
}

h2{
  color: rgb(51, 66, 51);
  font-weight: bolder;
}

.basico{
color: rgb(51, 66, 51);
}

.intermediario{
color: rgb(242, 250, 1);
}

.avancado{
color: brown;
}

.destaque{
  background-color: coral;
}
