@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: linear-gradient(to right,
  #92A78C, #E0D5AD);
}

main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #5B584F ;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1{
  color: #F79E6B;
  text-align: center;
  text-shadow: 1px 1px 2px #b4744ebe;
}

h2{
  color:#F7CD82 ;
}

p{
  text-align: justify;
}