@charset "UTF-8";

body:before {
  content: "";
    display: block;
    background-image: url(noise/noise.webp);
    opacity: .3;
    background-repeat: repeat;
    background-size: 257px auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 99999998;
    margin: 0%;
}

